body {
    height: 100vh;
    background-image: url('../img/BGI-country.jpg');
    background-size: cover;
    margin: 0px;
}

/*
 *  Grid structure: 
 *  - 5 rows (6 border-lines)
 *  - 7 columns (8 border-lines)
 */
#app{
    height: 100%;
    display: grid;
    grid-template-columns: 75px auto 300px 130px 150px auto 250px;
    grid-template-rows: 65px auto 60% auto 150px;
}


#canvas-placer{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 8;
}

canvas {
    border-color: white;
}

.toolbar {
    background-color: rgba(232, 194, 105, 0.70);
    margin: 10px;
}

#selection-feedback {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 8;
}

/* colour toolbar */
#colours {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 150px auto;
}

/* colour choice part */
#colour-choice {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.colour-choice-button {
    padding: 5px 15px;
    background-color: aliceblue;
    border-radius: 5px;
}

.colour-choice-button.active {
    background-color: #277fdd;
}

/* palette part */
#palette {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#colours #palette break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}

.colour {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.colour.active {
    border-color: #69e8cf;
}

.colour:hover {
    transform: scale(1.1);
}

#selected-colour {
    width: 80px;
    height: 40px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
}

#selected-colour-category {
    width: 80px;
    height: 40px;
}

/* 
 *   manage horizontal bar (undo, redo, delete)
 */
#manage {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option {
    height: 35px;
    width: 35px;
}

/*
 *  tool vertical bar (brush, eraser)
 */
#tools {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

